.mail{
  width: 100%;
  margin-top: 50px;
  background-color: #008037;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: #17c200;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .mailInputContainer>input{
    width: 250px;
  }
}

@media screen and (max-width: 377px) {
  .mailTitle{
    margin-left: 2rem;
  }

  .mailInputContainer>input{
    width: 230px;
  }
}

@media screen and (max-width: 340px) {
  .mailDesc{
    margin-left: 2rem;
  }
  
  .mailInputContainer>input{
      width: 230px;
      margin-right: 2px;
  }
}

@media screen and (max-width: 329px) {
  .mailTitle{
    margin-left: 3rem;
  }

  .mailDesc{
    margin-left: 3rem;
  }
  
  .mailInputContainer{
      display: flex;
      flex-direction: column;
  }
}