.navbar{
  /* width: 1290px; */
  overflow-x: hidden;
  height: 50px;
  background-color: #209533;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  font-style: oblique;
  font-size: 25px;
}

.navButton1{
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #53ba64;
}

@media screen and (max-width: 1029px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .navbar{
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .navContainer{
    margin-right: 14px;
  }


}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 15px;
  }
}